/* responsive smartphone */

@media screen and (max-width: 767px) {
  header,
  main {
    margin: 0;
  }

  /* header */

  .header_nav img {
    left: 35px;
  }
  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  nav ul {
    order: 2;
    width: 100%;
  }
  nav li {
    list-style: none;
    padding-bottom: 5px;
    text-align: center;
    width: 50%;
    border-bottom: solid 2.5px #deebff;
  }
  nav li:hover {
    border-bottom: solid 2.5px #0065fc;
    font-weight: bolder;
    border-top: none;
  }
  nav a {
    order: 1;
  }
  .inscription {
    color: #0065fc;
    font-weight: bolder;
    margin: 50px 60px 0 50px;
  }

  /* section hight */

  /* title and research */

  .mapmarker {
    min-width: unset;
    flex: 20%;
  }
  .placeholder {
    flex: 60%;
  }
  .research {
    min-width: unset;
    flex: 20%;
  }
  .text_search {
    display: none;
  }
  .icon_search {
    display: inline;
  }

  /* filters */

  .filter_total {
    flex-direction: column;
    align-items: unset;
  }

  .filter_one {
    margin-right: unset;
  }

  /* icon and sentence */

  .icon_sentence {
    width: 100%;
  }

  /* accommodation and popular */

  .accommodation_popular {
    margin: 0;
  }

  /* section accommodation */

  .accommodation_total {
    background: none;
  }

  /* aside  */

  .popular_total {
    border-radius: 0;
  }

  /* most popular */

  .popular_tree {
    margin-left: 15px;
    margin-right: 15px;
  }
  .popular_one {
    width: unset;
  }
  .popular_img {
    width: 50%;
  }
}
