/* responsive tablette */
@media screen and (orientation:landscape) and ( min-width: 768px) and (max-width:1024px) {
   p{
      color: red;
   }
   .accommodation_popular{
      flex-direction: unset;
   }

}

@media screen and (max-width: 1024px) {
  /* accommodation and popular */

  .accommodation_popular {
    flex-direction: column-reverse;
  }

  /* popular*/

  .popular_total {
    width: 100%;
    height: auto;
  }
  .popular_tree {
    margin-right: 5%;
  }
  .popular_one {
    align-content: unset;
  }
  .popular_img {
    width: 60%;
  }

  /* accommodation */

  .accommodation_total {
    width: 100%;
    height: auto;
  }
  .accommodation_six {
    flex-direction: column;
  }
  .accommodation_one {
    width: 100%;
  }

  /* activity */

  .activity_total {
    height: auto;
  }
  .activity_six {
    flex-direction: column;
  }
  .activity_vp {
    height: 280px;
  }
  .activity_img_vp {
    height: 90%;
  }
  .activity_fp {
    height: 280px;
  }
  .activity_img_fp {
    height: 90%;
  }
  .activity_if {
    height: 280px;
  }
  .activity_img_if {
    height: 90%;
  }
  .activity_pnc {
    height: 280px;
  }
  .activity_img_pnc {
    height: 90%;
  }
  .activity_ndg {
    height: 280px;
  }
  .activity_img_ndg {
    height: 90%;
  }
  .activity_pl {
    height: 280px;
  }
  .activity_img_pl {
    height: 90%;
  }

  /* footer */

  .footer_total {
    display: flex;
    flex-direction: column;
    height: auto;
  }
}
