body{
    font-family:'Raleway', sans-serif;;
}

a{
    text-decoration: none;
    color: black;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
}
nav li{
     list-style: none;
     padding: 30px;
}

a:hover{
    color: #0065fc;
}

 nav ul li:hover{
     border-top: solid 2.5px #0065FC;
     font-weight: bolder;
}

.inscription{
     color: #0065fc;
     font-weight: bolder;
}

h1{
    margin-bottom: 1px;
}

p{
    margin-top: 1px;
    margin-bottom: 25px;
}

 /* main */

 .search{
    display: flex;
    height: 45px;
    margin-bottom: 25px;

 }

.mapmarker{
    background-color: #f2f2f2;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border: none;
}

.placeholder{
    font-weight: bolder;
    border: solid #f2f2f2 1px;
    padding-left: 10px;
}

.research{
    border: #f2f2f2 solid 1px;
    background-color: #0065fc;
    color: white;
    font-weight: bolder;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    min-width: 100px;
    border: none;
}

/* filtre */


.total_filter{
     width: 1000px;
     justify-content: space-between;
     display: flex;
     align-items: center;
     font-weight: bolder;
 }

 .filter{
     width: 900px;
     display: flex;
     justify-content: space-between;
 }

 .icon_description_filter{
    font-weight: bold;
    display: inline-block;
    border-top: solid #e0e0e0 2px;
    border-right: solid #e0e0e0 2px;
    border-bottom: solid #e0e0e0 2px;
    border-left: none;
    border-radius: 50px;
    margin-bottom: 10px;
    padding: 16px;
    padding-left: 0;
 }

 .icon_filter{
     background-color: #deebff;
     padding: 18px;
     margin-right: 15px;
     color: #0065fc;
     border-radius: 50%;
 }

 /* petite phrase */

 .petite_phrase{
     width: 450px;
     height: 30px;
     display: flex;
     justify-content: space-between;
     margin-top: 20px;
     align-items: baseline;
 }

 .info{
    color: #0065fc;
    font-size: 0.8em;
    border: solid #e0e0e0 2px;
    border-radius: 50px;
    padding: 5px 10px 5px 10px;
 }

 /* hébergements */

 .total_heb{

 }

 .titre_heb{

 }

 .six_heb{

 }

 .heb{

 }

 .img_heb{

 }

 .etoile{
     
 }