body{
    font-family:'Raleway', sans-serif;;
}

a{
    text-decoration: none;
    color: black;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
}
nav li{
     list-style: none;
     padding: 30px;
}

a:hover{
    color: #0065fc;
}

 nav ul li:hover{
     border-top: solid 2.5px #0065FC;
     font-weight: bolder;
}

.inscription{
     color: #0065fc;
     font-weight: bolder;
}

h1{
    margin-bottom: 1px;
}

p{
    margin-top: 1px;
    margin-bottom: 25px;
}

 /* main */

 .search{
    display: flex;
    height: 45px;
    margin-bottom: 25px;

 }

.mapmarker{
    background-color: #f2f2f2;
    min-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border: none;
}

.placeholder{
    font-weight: bolder;
    border: solid #f2f2f2 1px;
    padding-left: 10px;
}

.research{
    border: #f2f2f2 solid 1px;
    background-color: #0065fc;
    color: white;
    font-weight: bolder;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    min-width: 100px;
    border: none;
}
 
.filter{
     width: 850px;
     justify-content: space-between;
     display: flex;
     align-items: center;
     font-weight: bolder;
 }
 .icon_filter{
     width: 700px;
     display: flex;
     justify-content: space-between;
 }

 .economique{
     border: black solid 3px;
 }