
/* responsive smartphone -767 */

@media screen and  (max-width: 767px)
{
    header, main{
        margin: 0;
      }
      
    .text_search{
        display: none;
    }
    
    .icon_search{
        display: inline;
    }
    
    .nav_mobile_under{
        display: flex;
    }
    
    .nav_mobile_under span{
        flex-grow: 1;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
     }
     

    nav ul{
        order: 2;
        width: 100%;
     }

     nav li{
        list-style: none;
        padding-bottom: 5px;
        text-align: center;
        width: 50%;
        border-bottom: solid 2.5px #deebff;
    }

    nav li:hover{
        border-bottom: solid 2.5px #0065FC;
        font-weight: bolder;
        border-top: none;

    }
     
     nav a{
        order: 1;
     }

     .inscription{
        color: #0065fc;
        font-weight: bolder;
        margin: 50px 50px 0 50px;
    }

   .icon_sentence{
      width: 100%;
   }

   .filter_total{
       flex-direction: column;
       align-items: unset;
   }

   .mapmarker{
  
    min-width: unset;
    flex: 20%;
    
 }
 
 .placeholder{
    flex: 60%;
 }
 
 .research{
    
    min-width: unset;
    flex: 20%;
   
 }

 .accommodation_popular{
    margin: 0;
}

.popular_total{
    border-radius: 0;
     
 }
 .accommodation_total{
   
    background: none; 
 }

 .popular_img{
    width: 50%;
 }
 .popular_tree{
    margin-left: 15px;
    margin-right: 15px;
 }

 .popular_one{
    width: unset;      
 }
}